<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia neque
      excepturi doloribus non. Praesentium error hic nostrum officiis atque,
      placeat sit, magnam fugiat distinctio neque tempora rerum unde inventore
      vero.
    </p>
  </div>
</div>
